## FOOD PRODUCTION ANALYSIS

### Business Understanding

Goal:To analyze the environmental impact of different foods by evaluating their land use, water consumption, and carbon emissions across the lifecycle—from farm to retail.

Key Questions to Answer:

Which foods have the highest and lowest environmental impact?

Which production stages contribute most to emissions?

Are plant-based foods more sustainable than animal-based ones?

Can we cluster foods based on environmental footprints?

### Data Understanding & Preparation
Importing all relevant libraries

In [1]:
# Data manipulation and analysis
import pandas as pd
import numpy as np

# To load multiple files
import glob 

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Statistical analysis
from scipy import stats

# Date and time handling
from datetime import datetime

# Geospatial analysis (if needed for visualizing trade routes)
# import geopandas as gpd

# Machine learning (if needed for predictive modeling)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# For handling large datasets (if needed)
# import dask.dataframe as dd

# For interactive visualizations (optional)
import plotly.express as px
import plotly.graph_objects as go

# For data profiling- pandas (optional)
#import ydata_profiling
#from ydata_profiling import ProfileReport


# For handling missing data
from sklearn.impute import SimpleImputer

# For encoding categorical variables
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# For advanced visualizations (optional)
# import altair as alt

# For working with Excel files (if your data is in Excel format)
import openpyxl

# For reading data from different file formats
# import pyarrow

# For working with large CSV files
import csv

# For system operations
import os
import sys

# For progress bars in data processing
from tqdm import tqdm

# Set plotting style
# plt.style.use('seaborn')

### Load Dataset from thier sources

In [2]:


df_FPA = pd.read_csv('data/Food_Production.csv')

Exploratory Data Analysis

In [3]:
df_FPA.head()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal),...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),Land use per 1000kcal (m² per 1000kcal),Land use per kilogram (m² per kilogram),Land use per 100g protein (m² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
0,Wheat & Rye (Bread),0.1,0.0,0.8,0.2,0.1,0.1,0.1,1.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Maize (Meal),0.3,0.0,0.5,0.1,0.1,0.1,0.0,1.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Barley (Beer),0.0,0.0,0.2,0.1,0.0,0.5,0.3,1.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oatmeal,0.0,0.0,1.4,0.0,0.1,0.1,0.0,1.6,4.281357,...,371.076923,482.4,0.945482,1.907692,2.897446,7.6,5.846154,18786.2,14450.92308,7162.104461
4,Rice,0.0,0.0,3.6,0.1,0.1,0.1,0.1,4.0,9.514379,...,3166.760563,2248.4,1.207271,6.267606,0.759631,2.8,3.943662,49576.3,69825.77465,13449.891480

In [4]:
df_FPA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 23 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Food product                                                             43 non-null     object
 1   Land use change                                                          43 non-null     float64
 2   Animal Feed                                                              43 non-null     float64
 3   Farm                                                                     43 non-null     float64
 4   Processing                                                               43 non-null     float64
 5   Transport                                                                43 non-null     float64
 6   Packging                                                                 43 non-null     float64
 7   Retail                                                                   43 non-null     float64
 8   Total_emissions                                                          43 non-null     float64
 9   Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)                 33 non-null     float64
 10  Eutrophying emissions per kilogram (gPO₄eq per kilogram)                 38 non-null     float64
 11  Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)    27 non-null     float64
 12  Freshwater withdrawals per 1000kcal (liters per 1000kcal)                30 non-null     float64
 13  Freshwater withdrawals per 100g protein (liters per 100g protein)        26 non-null     float64
 14  Freshwater withdrawals per kilogram (liters per kilogram)                38 non-null     float64
 15  Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)             33 non-null     float64
 16  Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)     27 non-null     float64
 17  Land use per 1000kcal (m² per 1000kcal)                                  33 non-null     float64
 18  Land use per kilogram (m² per kilogram)                                  38 non-null     float64
 19  Land use per 100g protein (m² per 100g protein)                          27 non-null     float64
 20  Scarcity-weighted water use per kilogram (liters per kilogram)           38 non-null     float64
 21  Scarcity-weighted water use per 100g protein (liters per 100g protein)   26 non-null     float64
 22  Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)  30 non-null     float64
dtypes: float64(22), object(1)
memory usage: 7.9+ KB

In [5]:
df_FPA.describe()

,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal),Eutrophying emissions per kilogram (gPO₄eq per kilogram),...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),Land use per 1000kcal (m² per 1000kcal),Land use per kilogram (m² per kilogram),Land use per 100g protein (m² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,33.000000,38.000000,...,26.000000,38.000000,33.000000,27.000000,33.000000,38.000000,27.000000,38.000000,26.000000,30.000000
mean,1.260465,0.453488,3.469767,0.253488,0.195349,0.269767,0.069767,5.972093,27.181547,46.141316,...,1437.975324,932.605263,5.633943,13.524906,12.423165,29.264474,29.105042,36607.428947,59196.438503,17380.575408
std,3.357730,0.919200,7.083264,0.372475,0.158795,0.342633,0.110270,10.501753,46.445959,82.808808,...,1441.981970,1296.999186,10.613575,19.427462,28.348693,78.490074,49.307339,56891.283046,89928.189299,16232.080209
min,-2.100000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.200000,0.708419,0.690000,...,32.375000,0.000000,0.069919,0.263319,0.273756,0.330000,3.000000,0.000000,421.250000,4.095023
25%,0.000000,0.000000,0.350000,0.000000,0.100000,0.100000,0.000000,0.850000,4.214932,3.752500,...,373.573281,105.500000,0.628415,4.027439,1.312500,1.112500,5.088235,3325.075000,11018.401008,2969.124983
50%,0.200000,0.000000,0.800000,0.100000,0.100000,0.100000,0.000000,1.600000,7.000000,11.460000,...,1083.327272,417.100000,1.351351,6.500000,2.976244,6.865000,7.936314,14533.050000,20917.213595,12605.256790
75%,0.800000,0.000000,2.200000,0.300000,0.200000,0.300000,0.150000,6.000000,26.324324,45.840000,...,1832.386339,1340.375000,5.335135,14.983333,6.605405,14.917500,23.002381,35960.175000,70651.721023,28056.471593
max,16.300000,2.900000,39.400000,1.300000,0.800000,1.600000,0.300000,59.600000,197.357143,365.290000,...,6003.333333,5605.200000,50.946429,93.300000,119.490842,369.810000,184.812594,229889.800000,431620.000000,49735.882350

In [6]:
# Get the list of all column names in the DataFrame
columns = df_FPA.columns
 
# Print details of unique values for each column in the DataFrame
for column in columns:
    print(f'{column}')  
    print(f'There are {df_FPA[column].unique().size} unique values')  
    print(f'{df_FPA[column].unique()}')  
    print('_' * 80)

Food product
There are 43 unique values
['Wheat & Rye (Bread)' 'Maize (Meal)' 'Barley (Beer)' 'Oatmeal' 'Rice'
 'Potatoes' 'Cassava' 'Cane Sugar' 'Beet Sugar' 'Other Pulses' 'Peas'
 'Nuts' 'Groundnuts' 'Soymilk' 'Tofu' 'Soybean Oil' 'Palm Oil'
 'Sunflower Oil' 'Rapeseed Oil' 'Olive Oil' 'Tomatoes' 'Onions & Leeks'
 'Root Vegetables' 'Brassicas' 'Other Vegetables' 'Citrus Fruit' 'Bananas'
 'Apples' 'Berries & Grapes' 'Wine' 'Other Fruit' 'Coffee'
 'Dark Chocolate' 'Beef (beef herd)' 'Beef (dairy herd)' 'Lamb & Mutton'
 'Pig Meat' 'Poultry Meat' 'Milk' 'Cheese' 'Eggs' 'Fish (farmed)'
 'Shrimps (farmed)']
________________________________________________________________________________
Land use change
There are 21 unique values
[ 0.1  0.3  0.   0.6  1.2 -2.1  0.4  0.2  1.   3.1 -0.4 -0.1  3.7 14.3
 16.3  0.9  0.5  1.5  2.5  4.5  0.7]
________________________________________________________________________________
Animal Feed
There are 10 unique values
[0.  1.9 2.5 2.4 2.9 1.8 0.2 2.3 2.2 0.8]
________________________________________________________________________________
Farm
There are 24 unique values
[ 0.8  0.5  0.2  1.4  3.6  1.1  0.7  2.1  0.1  1.5  2.3  4.3  0.3  0.6
  0.4 10.4  3.7 39.4 15.7 19.5  1.7 13.1  1.3  8.4]
________________________________________________________________________________
Processing
There are 10 unique values
[0.2 0.1 0.  0.4 0.8 0.3 1.3 0.7 0.6 1.1]
________________________________________________________________________________
Transport
There are 8 unique values
[0.1 0.  0.8 0.6 0.2 0.3 0.5 0.4]
________________________________________________________________________________
Packging
There are 10 unique values
[0.1 0.5 0.  0.4 0.2 0.8 0.9 0.7 1.6 0.3]
________________________________________________________________________________
Retail
There are 4 unique values
[0.1 0.  0.3 0.2]
________________________________________________________________________________
Total_emissions
There are 33 unique values
[ 1.4  1.1  1.6  4.   0.3  0.9  2.6  1.4  0.8  0.2  2.4  1.   3.   6.
  7.6  3.5  3.7  6.   0.4  0.5  0.7 16.5 18.7 59.6 21.1 24.5  7.2  6.1
  2.8 21.2  4.5  5.1 11.8]
________________________________________________________________________________
Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)
There are 34 unique values
[         nan   4.28135722   9.51437873   4.75409836   0.70841889
   4.82051282   1.54131054   5.00879765   2.1734104    3.11382114
   2.43793103   1.20701357   5.73076923   2.17081448   4.21493213
  39.52631579   8.75675676   4.35135135  29.47058824   7.
   5.48333333   3.02083333  10.73684211 197.3571429   16.84332689
 110.4065934  133.8058608   30.64037855  31.958159    26.32432432
  17.75        25.41860465  15.11111111 131.3519553 ]
________________________________________________________________________________
Eutrophying emissions per kilogram (gPO₄eq per kilogram)
There are 39 unique values
[   nan  11.23  35.07   3.48   0.69  16.92   5.41  17.08   7.52  19.15
  14.14   1.06  11.69  10.67  50.66  19.19  37.26   7.51   3.24   1.61
   5.01   2.27   2.24   3.29   1.45   6.12   4.57   2.43 110.52  87.08
 301.41 365.29  97.13  76.38  48.7   10.65  98.37  21.76 235.12]
________________________________________________________________________________
Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)
There are 28 unique values
[         nan   8.63846154  49.3943662   20.47058824   7.66666667
   7.97758057   3.38433843  11.72688304   5.40106952  68.27272727
  24.92307692  16.1         45.54545455  37.33333333  36.55555556
  48.33333333  61.2        138.15       174.16       151.1584754
 185.0506586   48.54072964  47.20642769  28.11778291  32.27272727
  44.55163043  19.61067051 103.1001973 ]
________________________________________________________________________________
Freshwater withdrawals per 1000kcal (liters per 1000kcal)
There are 31 unique values
[           nan 1.83911552e+02 6.09983722e+02 8.07377049e+01
 1.76666667e+02 6.20227920e+01 6.72162602e+02 3.19362069e+02
 7.23981900e-01 1.14015837e+02 2.68891403e+01 2.42285068e+02
 1.94631579e+03 3.86486486e+01 7.67567568e+01 7.02352941e+02
 2.58437500e+02 1.90833333e+02 3.75208333e+02 7.36140351e+02
 4.62500000e+01 1.04564797e+02 5.31575092e+02 9.94249084e+02
 5.68706625e+02 7.51380753e+02 3.56756757e+02 1.04700000e+03
 1.44837209e+03 4.01180556e+02 2.06217877e+03]
________________________________________________________________________________
Freshwater withdrawals per 100g protein (liters per 100g protein)
There are 27 unique values
[         nan  371.0769231 3166.760563   347.6470588  203.503036
  178.4878488 2531.414574   707.5248281 3361.818182   110.
  284.        1085.454545  1378.333333  1272.222222  6003.333333
 4196.          32.375     1081.2        727.7833501 1375.025329
  900.9495252 1109.888752   381.0623557 1903.636364  2538.586957
  520.6380678 1618.636264 ]
________________________________________________________________________________
Freshwater withdrawals per kilogram (liters per kilogram)
There are 39 unique values
[   nan  482.4 2248.4   59.1    0.   620.1  217.7  435.7  396.6 4133.8
 1852.3   27.8  414.6    6.4 1007.9  237.7 2141.8  369.8   14.3   28.4
  119.4  102.5   82.7  114.5  180.1  419.6   78.9  153.5   25.9  540.6
 1451.2 2714.3 1802.8 1795.8  660.   628.2 5605.2  577.7 3691.3]
________________________________________________________________________________
Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)
There are 34 unique values
[        nan  0.94548227  1.20727075  0.6284153   1.35523614  0.91168091
  0.51566952  0.52492669  0.28323699  0.0699187   0.55689655  0.8280543
  0.40723982  0.42647059  0.61312217 11.          1.35135135  1.16216216
  3.          1.21875     1.43333333  0.89583333  2.68421053 50.94642857
  9.02321083 36.43956044 12.1978022  12.52996845  5.15062762  5.33513513
  5.25        6.17054264  3.24305556  7.61452514]
________________________________________________________________________________
Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)
There are 28 unique values
[        nan  1.90769231  6.26760563  2.70588235 14.66666667  0.83605792
  0.4410441   0.26331904  1.23376623 19.          3.84615385  4.3
  4.63636364  6.5         9.55555556 14.33333333 15.3        35.6625
 93.3        49.88966901 16.86930091 19.85007496  7.60815822  5.69861432
  9.5        10.81521739  4.20872386  5.97675948]
________________________________________________________________________________
Land use per 1000kcal (m² per 1000kcal)
There are 34 unique values
[         nan   2.89744567   0.75963104   1.20218579   1.85831622
   0.58119658   0.52136752   4.5659824    2.15606936   2.10731707
   1.57068966   0.27375566   1.99773756   1.20248869   2.97624434
   4.21052632   1.05405405   0.89189189   3.23529412   2.6875
   3.21666667   1.3125       4.22807018  38.60714286  13.3384913
 119.4908425   15.83882784 116.659306     7.26359833   6.6054054
  14.91666667  22.68475452   4.35416667   4.69832402]
________________________________________________________________________________
Land use per kilogram (m² per kilogram)
There are 39 unique values
[       nan 7.6000e+00 2.8000e+00 8.8000e-01 1.8100e+00 2.0400e+00
 1.8300e+00 1.5570e+01 7.4600e+00 1.2960e+01 9.1100e+00 6.6000e-01
 1.0520e+01 2.4200e+00 1.7660e+01 1.0630e+01 2.6310e+01 8.0000e-01
 3.9000e-01 3.3000e-01 5.5000e-01 3.8000e-01 8.6000e-01 1.9300e+00
 6.3000e-01 2.4100e+00 1.7800e+00 8.9000e-01 2.1620e+01 6.8960e+01
 3.2621e+02 4.3240e+01 3.6981e+02 1.7360e+01 1.2220e+01 8.9500e+00
 8.7790e+01 6.2700e+00 8.4100e+00]
________________________________________________________________________________
Land use per 100g protein (m² per 100g protein)
There are 28 unique values
[         nan   5.84615385   3.94366197   5.17647059  20.11111111
   7.27230266   3.35733573   7.93631353   3.47975554   7.27272727
   3.           3.3          5.          14.33333333  21.44444444
  21.          24.1         27.025      137.92       163.5957874
  21.9047619  184.8125937   10.72929543   7.05542725  27.12121212
  39.75996377   5.65068493   3.68778777]
________________________________________________________________________________
Scarcity-weighted water use per kilogram (liters per kilogram)
There are 39 unique values
[         nan 1.878620e+04 4.957630e+04 2.754200e+03 0.000000e+00
 1.643860e+04 9.493300e+03 2.247740e+04 2.794820e+04 2.298898e+05
 6.179790e+04 9.556000e+02 1.488820e+04 3.620000e+01 3.636940e+04
 1.059370e+04 1.774802e+05 5.335700e+03 9.320000e+02 9.292000e+02
 8.455100e+03 4.911400e+03 4.662700e+03 6.619000e+02 1.294860e+04
 2.116210e+04 1.149300e+03 9.533100e+03 3.370000e+02 2.879200e+03
 3.473250e+04 1.198052e+05 1.419250e+05 6.686740e+04 1.417790e+04
 1.978630e+04 1.808506e+05 1.798270e+04 4.157220e+04]
________________________________________________________________________________
Scarcity-weighted water use per 100g protein (liters per 100g protein)
There are 27 unique values
[           nan 1.44509231e+04 6.98257747e+04 1.62011765e+04
 1.04985521e+04 1.25779478e+04 1.40777587e+05 2.36050038e+04
 4.85063636e+04 7.16923077e+03 9.29200000e+03 7.68645455e+04
 7.77116667e+04 7.35444444e+03 4.31620000e+05 2.11621000e+05
 4.21250000e+02 5.75840000e+03 1.74185055e+04 6.06915907e+04
 7.09270365e+04 4.13271941e+04 8.18585450e+03 5.99584849e+04
 8.19069746e+04 1.62064708e+04 1.82294234e+04]
________________________________________________________________________________
Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
There are 31 unique values
[           nan 7.16210446e+03 1.34498915e+04 3.76256831e+03
 4.68336182e+03 2.70464388e+03 3.73804553e+04 1.06548103e+04
 4.09502262e+00 4.11418552e+03 1.19838235e+03 2.00769457e+04
 2.80826316e+04 2.51891892e+03 2.51135135e+03 4.97358823e+04
 1.45709375e+04 1.10316667e+03 2.69762500e+04 3.71264912e+04
 6.01785714e+02 5.56905222e+02 1.27225275e+04 4.38846886e+04
 4.47712934e+04 2.79779916e+04 7.66372973e+03 3.29771667e+04
 4.67314212e+04 1.24879861e+04 2.32246927e+04]
________________________________________________________________________________

In [7]:
df_FPA.shape

(43, 23)

In [8]:
df_FPA.duplicated().sum()

np.int64(0)

In [9]:
df_FPA.isnull().sum()

Food product                                                                0
Land use change                                                             0
Animal Feed                                                                 0
Farm                                                                        0
Processing                                                                  0
Transport                                                                   0
Packging                                                                    0
Retail                                                                      0
Total_emissions                                                             0
Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)                   10
Eutrophying emissions per kilogram (gPO₄eq per kilogram)                    5
Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)      16
Freshwater withdrawals per 1000kcal (liters per 1000kcal)                  13
Freshwater withdrawals per 100g protein (liters per 100g protein)          17
Freshwater withdrawals per kilogram (liters per kilogram)                   5
Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)               10
Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)       16
Land use per 1000kcal (m² per 1000kcal)                                    10
Land use per kilogram (m² per kilogram)                                     5
Land use per 100g protein (m² per 100g protein)                            16
Scarcity-weighted water use per kilogram (liters per kilogram)              5
Scarcity-weighted water use per 100g protein (liters per 100g protein)     17
Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)    13
dtype: int64

In [10]:
# Total number of rows in the DataFrame
total_rows = len(df_FPA)

# Create a new DataFrame showing sum and % of missing values
missing_df = pd.DataFrame({
    'Missing Values': df_FPA.isnull().sum(),
    'Percentage (%)': (df_FPA.isnull().sum() / total_rows) * 100
})

# Optional: Show only columns with missing data
missing_df = missing_df[missing_df['Missing Values'] > 0]

# Sort by highest missing percentage
missing_df = missing_df.sort_values(by='Percentage (%)', ascending=False)

# Display the result
missing_df

,Missing Values,Percentage (%)
Freshwater withdrawals per 100g protein (liters per 100g protein),17,39.534884
Scarcity-weighted water use per 100g protein (liters per 100g protein),17,39.534884
Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),16,37.209302
Land use per 100g protein (m² per 100g protein),16,37.209302
Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein),16,37.209302
Freshwater withdrawals per 1000kcal (liters per 1000kcal),13,30.232558
Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories),13,30.232558
Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),10,23.255814
Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal),10,23.255814
Land use per 1000kcal (m² per 1000kcal),10,23.255814
Freshwater withdrawals per kilogram (liters per kilogram),5,11.627907
Eutrophying emissions per kilogram (gPO₄eq per kilogram),5,11.627907
Land use per kilogram (m² per kilogram),5,11.627907
Scarcity-weighted water use per kilogram (liters per kilogram),5,11.627907

In [11]:
# Total number of rows
total_rows = df_FPA.shape[1]

# Create a DataFrame with sum and percentage of missing values per row
missing_rows = pd.DataFrame({
    'Missing Count': df_FPA.isnull().sum(axis=1),
    'Missing Percentage (%)': (df_FPA.isnull().sum(axis=1) / total_rows) * 100
})

# Optional: Show only rows with missing values
missing_rows = missing_rows[missing_rows['Missing Count'] > 0]

# Display the first few rows
print(missing_rows.head())

   Missing Count  Missing Percentage (%)
0             14               60.869565
1             14               60.869565
2             14               60.869565
6              4               17.391304
7              5               21.739130

In [12]:
# Check the total number of rows
total_rows = df_FPA.shape[0]

# Count missing values per row
missing_counts_per_row = df_FPA.isna().sum(axis=1)

# Count non-null values per row
non_null_counts_per_row = df_FPA.notna().sum(axis=1)

# Compute missing percentage per row
missing_percentage_per_row = round((missing_counts_per_row / df_FPA.shape[1]) * 100, 2)

# Create DataFrame summarizing row-wise information
df_FPA_row_info = pd.DataFrame({
    "Non-Null Count": non_null_counts_per_row,
    "Missing Count": missing_counts_per_row,
    "Missing Percentage": missing_percentage_per_row
})

# Display the first few rows
df_FPA_row_info.head()

   Non-Null Count  Missing Count  Missing Percentage
0               9             14               60.87
1               9             14               60.87
2               9             14               60.87
3              23              0                0.00
4              23              0                0.00

In [13]:
# Define missing percentage threshold categories 
low_missing_threshold = 5  # Use median for <5%
moderate_missing_threshold = 30  # Use mean for 5-30%
high_missing_threshold = 30  # Drop rows above 30% missing values

# Identify missing percentages per row
missing_percentage_per_row = df_FPA.isnull().sum(axis=1) / df_FPA.shape[1] * 100

# Identify rows to drop
rows_to_drop = missing_percentage_per_row > high_missing_threshold

# Capture the "Food product" names of dropped rows
dropped_products = df_FPA.loc[rows_to_drop, "Food product"]

# Print the dropped "Food product" entries
print("Rows dropped due to >30% missing values (based on 'Food product'):")
print(dropped_products.to_list())

# Drop the rows
df_FPA = df_FPA[~rows_to_drop]

# Fill missing values in the remaining rows based on thresholds
for col in df_FPA.columns:
    missing_percentage_col = df_FPA[col].isnull().sum() / len(df_FPA) * 100

    if missing_percentage_col == 0:
        continue  # No missing values, skip
    
    elif missing_percentage_col <= low_missing_threshold:
        df_FPA[col].fillna(df_FPA[col].median(), inplace=True)  # Use median
    
    elif missing_percentage_col <= moderate_missing_threshold:
        df_FPA[col].fillna(df_FPA[col].mean(), inplace=True)  # Use mean

# Display updated missing value status
print(f"\nRemaining Rows: {df_FPA.shape[0]}")
print("Missing values per column after cleaning:")
print(df_FPA.isnull().sum())

Rows dropped due to >30% missing values (based on 'Food product'):
['Wheat & Rye (Bread)', 'Maize (Meal)', 'Barley (Beer)', 'Soymilk', 'Tofu', 'Soybean Oil', 'Other Vegetables', 'Wine', 'Other Fruit', 'Shrimps (farmed)']

Remaining Rows: 33
Missing values per column after cleaning:
Food product                                                               0
Land use change                                                            0
Animal Feed                                                                0
Farm                                                                       0
Processing                                                                 0
Transport                                                                  0
Packging                                                                   0
Retail                                                                     0
Total_emissions                                                            0
Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)                   0
Eutrophying emissions per kilogram (gPO₄eq per kilogram)                   0
Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)      0
Freshwater withdrawals per 1000kcal (liters per 1000kcal)                  0
Freshwater withdrawals per 100g protein (liters per 100g protein)          0
Freshwater withdrawals per kilogram (liters per kilogram)                  0
Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)               0
Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)       0
Land use per 1000kcal (m² per 1000kcal)                                    0
Land use per kilogram (m² per kilogram)                                    0
Land use per 100g protein (m² per 100g protein)                            0
Scarcity-weighted water use per kilogram (liters per kilogram)             0
Scarcity-weighted water use per 100g protein (liters per 100g protein)     0
Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)    0
dtype: int64

C:\Users\wilson.asante\AppData\Local\Temp\ipykernel_17864\1601049847.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_FPA[col].fillna(df_FPA[col].mean(), inplace=True)  # Use mean